<!DOCTYPE html>
<html>
<head>
    <title>ТРКД ДНУ . ASP.NET CORE MVC</title>
    <meta charset="utf-8" />
</head>
<body>
    <h1>HomeController1/ControllersInfo</h1>

    @if (ViewBag.Id != null)
    {
        <p>Id: @ViewBag.Id</p>
    }
    else
    {
        <p>No Id provided.</p>
    }
</body>
</html>
