<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DNU | @ViewBag.Title</title>
    <style>
        body {
            background-image: url("https://fons.pibig.info/uploads/posts/2023-06/1686687976_fons-pibig-info-p-raian-gosling-oboi-instagram-1.jpg");
            background-size: cover;
            font-family: Arial, sans-serif;
            margin: 10px;
        }

        h3 {
            color: #333;
        }
    </style>
</head>
<body>
    <h3>About Content</h3>
    <p>Сайт сделан веселыми людьми после фугаса пива</p>
</body>
</html>